@font-face {
    font-family: "VarelaRound";
    src: url("https://therealblue24.github.io/assets/VarelaRound-Regular.woff")
}

@font-face {
    font-family: "MapleMono";
    src: url("https://therealblue24.github.io/assets/MapleMono-Regular.ttf")
}

body {
    /* background-color: #202123; */
    background-color: rgb(36, 39, 57);
    color: white;
    font-family: "MapleMono", "VarelaRound", Arial, Helvetica, sans-serif;
    font-size: 16;
}

a {
    transition-duration: 0.4s;
    color: #5282e3;
}

a:link {
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #8252e3;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #52e382;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #e35282;
    background-color: transparent;
    text-decoration: underline;
}

button {
    background-color: rgb(63, 68, 95);
    border: none;
    color: white;
    padding: 0.7vw 0.7vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "MapleMono", "VarelaRound", Arial, Helvetica, sans-serif;
    border-radius: 8px;
    transition-duration: 0.4s;
}

input {
    background-color: rgb(63, 68, 95);
    border: none;
    color: white;
    font-family: "MapleMono", "VarelaRound", Arial, Helvetica, sans-serif;
    border-radius: 8px;
    transition-duration: 0.4s;
}

input:focus {
    background-color: rgb(83, 88, 115);
}

button:hover {
    background-color: rgb(83, 88, 115);
}

input:hover {
    background-color: rgb(83, 88, 115);
}

select {
    border: none;
    border-radius: 8px;
    background-color: rgb(63, 68, 95);
    color: white;
    font-family: "MapleMono", "VarelaRound", Arial, Helvetica, sans-serif;
    transition-duration: 0.4s;
}

select:hover {
    background-color: rgb(83, 88, 115);
}

textarea {
    border: none;
    border-radius: 8px;
    background-color: rgb(63, 68, 95);
    color: white;
    font-family: "MapleMono", "VarelaRound", Arial, Helvetica, sans-serif;
    transition-duration: 0.4s;
    resize: none;
    box-sizing: border-box;
    margin: 4px;
}

textarea:focus {
    background-color: rgb(83, 88, 115);
}

textarea:hover {
    background-color: rgb(83, 88, 115);
}

code {
    background-color:  rgb(26, 29, 47);
    padding: 0.5vw 0.5vh;
    border-radius: 8px;
}

.nopad {
    padding: 0vw 0vh;
}

img {
    border: .5vw solid rgb(26, 29, 47);
    border-radius: 8px;
    padding: 2.5px;
}
