@font-face {
    font-family: "VarelaRound";
    src: url("https://therealblue24.github.io/assets/VarelaRound-Regular.woff")
}

body {
    /* background-color: #202123; */
    background-color: rgb(36, 39, 57);
    color: white;
    font-family: "VarelaRound", Arial, Helvetica, sans-serif;
    font-size: 16;
}

a:link {
    color: #5282e3;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #8252e3;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #52e382;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #e35282;
    background-color: transparent;
    text-decoration: underline;
}

button {
    background-color: rgb(63, 68, 95);
    border: none;
    color: white;
    padding: 0.7vw 0.7vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "VarelaRound", Arial, Helvetica, sans-serif;
    border-radius: 8px;
    transition-duration: 0.4s;
}

input {
    background-color: rgb(63, 68, 95);
    border: none;
    color: white;
    font-family: "VarelaRound", Arial, Helvetica, sans-serif;
    border-radius: 8px;
    transition-duration: 0.4s;
}

input:focus {
    background-color: rgb(83, 88, 115);
}

button:hover {
    background-color: rgb(83, 88, 115);
}

